In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from prophet import Prophet
from prophet.diagnostics import cross_validation

In [7]:
df = pd.read_excel('Serie.xlsx', sheet_name='TS', index_col='Data')
df.head()

            Eventos  Tempo
Data
2024-01-01        0    0.0
2024-01-02        0    0.0
2024-01-03        1    3.3
2024-01-04        5   49.8
2024-01-05        6   86.1

In [8]:
df.info

<bound method DataFrame.info of             Eventos  Tempo
Data
2024-01-01        0    0.0
2024-01-02        0    0.0
2024-01-03        1    3.3
2024-01-04        5   49.8
2024-01-05        6   86.1
...             ...    ...
2024-03-13        0    0.0
2024-03-14        0    0.0
2024-03-15        2   13.0
2024-03-16        0    0.0
2024-03-17        0    0.0

[77 rows x 2 columns]>

In [9]:
df.dtypes

Eventos      int64
Tempo      float64
dtype: object

In [10]:
df.describe()

         Eventos       Tempo
count  77.000000   77.000000
mean    1.909091   31.420779
std     2.524521   59.734347
min     0.000000    0.000000
25%     0.000000    0.000000
50%     1.000000   12.000000
75%     3.000000   40.000000
max    13.000000  420.000000

In [12]:
df.columns=['DS', 'Y']
df.head()

            DS     Y
Data
2024-01-01   0   0.0
2024-01-02   0   0.0
2024-01-03   1   3.3
2024-01-04   5  49.8
2024-01-05   6  86.1